%p#notice= notice
%p
  %strong Number:
  = @team.number
  = render 'shared/starters', team: @team
  = render 'shared/bench', team: @team
  -# - @team.player.sort_by{|p| p.value}.reverse.each do |player|
  -#   = render 'shared/player_card', player: player
= link_to 'Edit', edit_team_path(@team)
|
\#{link_to 'Back', teams_path}
