= form_for(@league) do |f|
  - if @league.errors.any?
    #error_explanation
      %h2
        = pluralize(@league.errors.count, "error")
        prohibited this league from being saved:
      %ul
        - @league.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :number
    %br/
    = f.number_field :number
  .field
    = f.label :site
    %br/
    = f.text_field :site
  .field
    = f.label :size
    %br/
    = f.number_field :size
  .actions
    = f.submit