%p#notice= notice
%p
  %strong Number:
  = @league.number
%p
  %strong Site:
  = @league.site
%p
  %strong Size:
  = @league.size
%p 
  %table
    %thead
      %tr
        %th Number
        %th{:colspan => "3"}
    %tbody
      - @league.team.each do |team|
        %tr
          %td= team.number
          %td= link_to 'Show', team
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Edit', edit_league_path(@league)
|
\#{link_to 'Back', leagues_path}