%p#notice= notice
%p
  %strong Number:
  = @league.number
%p
  %strong Site:
  = @league.site
%p
  - @league.team.each do |team| 
    %p
      = render 'shared/team_card', team: team
= link_to 'Edit', edit_league_path(@league)
|
\#{link_to 'Back', leagues_path}
