%p#notice= notice
%p
  %strong Position:
  = @player.position
%p
  %strong Starter:
  = @player.starter
%p
  %strong Name:
  = @player.name
%p
  %strong Value:
  = @player.value
= link_to 'Edit', edit_player_path(@player)
|
\#{link_to 'Back', players_path}